 .cards {
    width: 1111px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards > div:not(:nth-last-child(-n + 6)) {
    margin-bottom: 25px;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    opacity: .8;
}

.btn {
    border: none;
    outline: none;
    background: none;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    opacity: .8;
    transition: opacity .3s;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.score {
    font-family: 'Roboto Mono', monospace;
}